<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.id} == null ? 'Добавить пользователя' : 'Редактировать пользователя'"></title>
</head>
<body>
<h1 th:text="${user.id} == null ? 'Добавить пользователя' : 'Редактировать пользователя'"></h1>

<form th:action="@{/save}" method="post">

    <input type="hidden" name="id" th:value="${user.id}" />

    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" th:value="${user.name}" required><br><br>

    <label for="age">Возраст:</label>
    <input type="number" id="age" name="age" th:value="${user.age}" required><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:value="${user.email}" required><br><br>

    <button type="submit" th:text="${user.id} == null ? 'Добавить' : 'Сохранить изменения'"></button>
</form>

<hr/>
<a th:href="@{/users}">Вернуться к списку</a>
</body>
</html>